.view-body{
  background-color: azure;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}
.game-list{
  width: 30vw;
  /* background-color: antiquewhite; */
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 30px auto;
}
.game-img{
  width: 100%;
  flex: 1;
}

.game-btn{
  margin-top: 10px;
  text-align: center;
}

.game-title{
  margin: 30px auto;
  text-align: center;
}